@font-face {
    font-family: kochweltFont;
    src: url("./Raleway/Raleway-VariableFont_wght.ttf");
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: "kochweltFont", sans-serif;

}

h1 {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 16px;;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 16px;
    text-align: center;
}

.h2rezept {
    margin-bottom: 0;
}


a {
    padding-left: 24px;
    text-decoration: none;
    color: black;
}

.img_no_padding {
    padding: 0 !important;
    /*MW Bilder und H2 gleich */
}

.img_no_padding {
    padding: 0 !important;
    /*MW Bilder und H2 gleich */
}

a:hover {
    text-decoration: underline;
    color: #018000;
    text-decoration-thickness: 4px;
    text-underline-offset: 6px;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: white;
    ;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.navigation_left {
    height: 100%;
    max-width: 720px;
    min-width: 720px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navigation_left img {
    width: 240px;
}

.navigation_logo {
    justify-content: flex-start;
}

.navigation_right {
    height: 100%;
    min-width: 720px;
    max-width: 720px;
    margin-right: 0;
    padding-right: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.burger_menu {
    background-color: #EEEEEE;
    display: flex;
    position: absolute;
    border-radius: 4px;
    ;
    top: 100px;
    right: 24px;
    flex-direction: column;
    width: 180px;
    height: 160px;
    transition: all 250ms ease-in-out;

}

.menu_close {
    transform: translateY(-170%)
}

.mobile_menu {
    display: none;
    margin-right: 48px;
    width: 36px;
    height: 36px;
    border-radius: 4px;
}

.mobile_links {
    padding-bottom: 8px;
    padding-top: 8px;
}

.navigationbar {
    color: black;
    font-size: 18px;
    padding-left: 18px;
    padding-bottom: 5px;

}

.half_section {
    max-width: 720px;
    width: 100%;
    padding-left: 24px;
    /* padding-right: 64px; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;

}

.homepage_section1 {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: left;
    margin-bottom: 60px;

}

.homepage_section1 img {
    width: 672px;
    /* 560px MW*/
    height: auto;
    border-radius: 8px;
    display: flex;
    justify-content: flex-end;
}

.homepage_section1_text {
    margin-bottom: 125px;
}

button {
    width: 160px;
    height: 40px;
    background-color: #018000;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.tagesgericht_headline {
    font-size: 24px;
    font-weight: 600;
}

.homepage_section2 {
    background-color: #EFEFEF;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
}

.homepage_section2_headline {
    font-size: 24px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 48px;
    margin-left: 24px;
    /*MW*/
}

.homepage_section2 img {
    width: 240px;
    height: 164px;
    object-fit: cover;
    border-radius: 4px;
}

.recipe_overview {
    max-width: 1440px;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.homepage_section3 {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.homepage_section3 img {
    width: 240px;
    height: auto;
    border-radius: 4px;
    margin-right: 64px;
}

.blog {
    max-width: 1440px;
    min-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: column;
    text-align: left;
}

.blog-container {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    /*MW*/
}

.blog-letter {
    max-width: 840px;
}

.potato-image img {
    width: 240px;
    margin-right: 0;
    display: flex;
    justify-content: flex-end
}

footer {

    margin-bottom: 0;
    margin-left: 0;
    height: 160px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #403B3B;
}

.footer {
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-left {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
    height: 100%;
    max-width: 720px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-right {
    min-width: 1225px;
    max-width: 770px;
    margin-right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 24px;
}

.footer-social-media {
    width: 32px;
}

.navigation_logo {
    max-width: 1440px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.navigation_logo_img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 56px;
}

.recipeoftheday {
    width: 100%;
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.daily-recipe {
    margin-left: 0;
}

.daily-recipe img {
    width: 1440px;
    height: 240px;
    object-fit: cover;
    border-radius: 8px;

}

.prep-info {
    display: flex;
    padding-right: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.icon {
    background-color: #EFEFEF;
    width: 80px;
    height: 20px;
    color: black;
    border-radius: 4px;
    font-size: 12px;
    margin-top: 16px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    flex-direction: row;
    padding: 8px;
}

.icon img {
    width: 20px;
    height: 20px;
    padding-right: 8px;
}

.ingredients-container {
    width: 1440px;
    min-width: 1440px;
    margin-top: 60px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

td {
    height: 36px;
    padding-left: 8px;
}

.ingredients-portion {
    display: flex;
    flex-direction: column;
}

input {
    width: 36px;
    height: 34px;
    border-radius: 4px;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #EFEFEF;
    width: 100%;
}

.ingredients-table {
    width: 100%;
    max-width: 1440px;
    border-collapse: collapse;
    margin-top: 24px;
}

.recipe_descrition_details {
    background-color: #EFEFEF;
    width: 120px;
    height: 24px;
    color: black;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 12px;
    margin-top: 16px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    flex-direction: row;
    padding: 8px;
}

.recipe_descrition_details img {
    width: 20px;
    height: 20px;
    padding-right: 8px;
}

.creator {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.creator h3 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 0;
}

.Personal_Profile_Recipe {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.Personal_Profile_Recipe img {
    width: 100px;
    margin-right: 16px;
    margin-bottom: 48px;
}

.Profil_personal_img {
    border-radius: 50%;
}


.contact_form {
    height: 500px;
    width: 400px;
    padding: 12px;
    background-color: #dcdcdc;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    font-size: 12px;
    color: #606060;

}

.contact_form_input {
    width: auto;
    border-color: #dcdcdc;
    border-radius: 6px;
    height: 24px;
    margin-bottom: 24px;
    border-width: 0px;
}

.form-text {
    font-size: 16px;
}

.contact_form_input_message {
    height: 240px;
    resize: none;
}

.contact_form_headline {
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 600;
    color: #232323;
}

.contact_form_input_submit {
    width: 120px;
    padding: 6px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 4px;
    background-color: #018000;
    color: white;
    border: none;
    font-size: 10px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.send_mail {
    margin-top: 160px;
}

.impressum_inner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;
    max-width: min(1440px, calc(100% - 48px));
    flex: 1 !important;


}

.impressum {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 100px);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 160px);
}

.navi_logo_small {
    display: none;
}

#buttonkontakt {
        margin-left: auto;
        margin-right: auto;
}

@media (min-width: 1920px) {

    .contact_form {
        height: 600px;
        width: 500px;
        padding: 14px;
        font-size: 13px;
    }

    .contact_form_headline {
        margin-bottom: 34px;
        font-size: 18px;
    }

    .contact_form_input {
        height: 28px;
        margin-bottom: 32px;

    }

    .contact_form_input_message {
        height: 200px;
    }

    .contact_form_input_submit {
        width: 140px;
        padding: 6px;
    }

    .navi_logo_small {
        display: none;
    }
    .contact_form_input_message{
        height: 300px;
    }
    
}

@media (max-width: 1500px) {
    /*MW changed to 1500 - 1439px*/

    .homepage_section1 {
        max-width: 1024px;
    }

    .navigation_logo {
        min-width: 760px;
        max-width: 1024px;
        width: 100%;
        justify-content: center;
    }

    .homepage_section1 img {
        width: 435px;
    }

    .half_section {
        max-width: 512px;
        justify-content: flex-start;
    }

    .homepage_section2 img {
        width: 160px;
        height: 160px;
        /*MW*/
    }

    .recipe_overview {
        padding-right: 16px;
        max-width: 1024px;
        width: 1000px;
    }

    .homepage_section3 {
        max-width: 1024px;
    }

    .blog-container {
        justify-content: space-evenly;
    }

    .potato-image img {
        width: 160px;
        padding-right: 16px;
        justify-content: flex-start;
    }

    .blog-letter {
        padding: 16px;
    }

    .blog {
        max-width: 1024px;
        min-width: 1024px;
    }

    .daily-recipe img {
        width: 975px;

    }

    .icon img {
        width: 16px !important;
        height: 16px;
    }

    .ingredients-container {
        width: 975px;
        min-width: 975px;
    }

    .creator {
        max-width: 975px;
        width: 100%;
    }

    .navi_logo_small {
        display: none;
    }

    .footer-right {
        min-width: 256px;
        justify-content: flex-end;
    }

    .footer {
        justify-content: space-evenly;
    }

    .footer-left {
        max-width: 126px;
        justify-content: center;
    }
}

@media (max-width: 1442px) {

    .navigation_right {
        justify-content: flex-start;
    }

    .footer-right {
        min-width: 256px;
        /* justify-content: flex-end; */
    }

    .footer {
        justify-content: space-evenly;
    }

    .footer-left {
        max-width: 126px;
        justify-content: center;
    }

}

@media (max-width: 1023px) {

    .hide {
        display: none;
    }

    .navigation_right {
        min-width: 512px;
        justify-content: flex-end;
    }

    .mobile_menu {
        display: block;
    }

    a {
        padding-left: 16px;
    }

    .navigation_left {
        max-width: 240px;
        min-width: 120px;
        justify-content: center;
    }


    .navigation_logo {
        min-width: 560px;
        justify-content: center !important;
        margin-left: 36px;
    }

    h1 {
        font-size: 22px;
    }

    p {
        font-size: 14px;
    }

    .homepage_section1 {
        max-width: 720px;
    }

    .daily-recipe img {
        width: 671px;

    }

    .icon img {
        width: 12px !important;
        height: 12px;
    }

    .ingredients-container {
        width: 671px;
        min-width: 671px;
    }

    .creator {
        max-width: 671px;
        width: 100%;
    }


    .homepage_section2 {
        width: 100%;
    }

    .recipe_overview {
        padding-right: 16px;
        max-width: 720px;
        width: 700px;
    }

    .blog {
        max-width: 720px;
        min-width: 720px;
    }

    .potato-image img {
        padding-right: 8px;

    }

    .contact_form {
        height: 400px;
        width: 300px;

    }

    .footer-left {
        max-width: 270px;
        justify-content: center;
    }

    .footer-right {
        min-width: 360px;
        justify-content: flex-end;
        padding-right: 0px;
    }


    .footer-social-media {
        width: 32px;
    }

    .navi_logo_small {
        display: none;
    }

    #buttonkontakt {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 719px) {

    h1 {
        margin-top: 16px;
    }

    .daily-recipe img {
        width: 272px;

    }

    .navigation_right {
        min-width: 320px;
    }

    .burger_menu {
        top: 60px;
    }

    .navigationbar {
        font-size: 16px;
        ;
    }

    .icon img {
        width: 12px !important;
        height: 12px;
    }

    .ingredients-container {
        width: 272px;
        min-width: 272px;
        margin-top: 8px;
        align-items: center;
    }

    .creator {
        max-width: 272px;
        width: 100%;
        align-items: center;
    }

    .daily-recipe-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .prep-info {
        flex-direction: column;
        padding-right: 0;
        margin-bottom: 8px;
    }

    .icon {
        margin-right: 0;
        margin-top: 8px;
    }

    .ingredients-portion form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input {
        margin-top: 4px;
        margin-bottom: 16px;
        width: 120px;
    }

    .ingredients-table {
        text-align: center;
    }

    .Personal_Profile_Recipe {
        flex-direction: column;
        align-items: center;
        margin-top: 8px;
    }

    .Personal_Profile_Recipe img {
        margin-right: 0;
        margin-bottom: 8px;
    }

    .navigation_left {
        max-width: 240px;
        min-width: 1px;
        justify-content: center;
    }

    .navigation_logo {
        justify-content: center;
        min-width: 420px;
        justify-content: center;
    }

    .navigation_left img {
        width: 120px;
    }

    .navigation_right {
        max-width: 40px;
        width: 100%;
    }

    .homepage_section1 {
        max-width: 420px;
        flex-direction: column;
        align-items: center;
    }

    .half_section {
        max-width: 420px;
        padding-left: 0;
        align-items: center;
    }

    .half-section {
        padding-left: 0;
    }

    .homepage_section1 img {
        padding-left: 0;

    }

    .recipe_overview {
        flex-direction: column;
        max-width: 420px;
        padding-right: 0;
    }

    .recipes {
        margin-bottom: 24px;
    }

    .homepage_section2_image_link1 {
        padding-left: 0;
    }

    .homepage_section2 img {
        width: 240px;
    }

    .homepage_section3 {
        max-width: 420px;
        flex-direction: column;
    }

    .blog {
        max-width: 420px;
        min-width: 420px;
    }

    .navigation {
        height: 60px;
    }

    footer {
        height: 60px;
    }

    .footer-right {
        min-width: 256px;
        justify-content: flex-end;
    }

    .footer {
        justify-content: space-evenly;
    }

    .footer-left {
        max-width: 126px;
        justify-content: flex-start;
    }


    .footer-social-media {
        width: 32px;
    }

    .wrapper {
        height: calc(100vh - 160px);
    }

    .navigation_logo_img {
        display: none;
    }

    .navi_logo_small {
        display: inline;
        width: 32px;
    }
}

@media (max-width: 560px) {

    .navigation_logo {
        min-width: 180px;
        max-width: 180px;
        width: 100%;
        justify-content: flex-start;
        padding-right: 0;
    }

    .navigation_right {
        max-width: 180px;
        padding-right: 0;
    }

    /* .navigation_right {
        max-width: 100px;
        min-width: 100px;
        width: 100%
    } */
    /*JB removed*/
    .footer-left {
        max-width: 126px;
        min-width: 126px;
        justify-content: flex-start;
    }

    .footer-right {
        min-width: 164px;
        justify-content: center;
        padding-right: 0px;
    }


}

@media (max-width: 480px) {

    .half_section {
        width: 100%;
        text-align: center;
    }

    .navigation_right {
        min-width: 160px;
    }

    .navigation_left {
        max-width: 160px;
        justify-content: center;
    }

    .navigation_logo {
        justify-content: flex-end;
    }

    .homepage_section1 img {
        width: 280px;
    }

    .homepage_section3 {
        align-items: center;
    }

    .blog {
        max-width: 320px;
        min-width: 320px;
        text-align: center;
    }

    .blog-container {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .recipe_overview {
        max-width: 320px;
    }


    .footer-right {
        min-width: 128px;
    }

    .navigation_logo_img {
        display: none;
    }

    .contact_form {
        height: 300px;
        width: 250px;
    }

    #buttonkontakt {
        margin-left: auto;
        margin-right: auto;
    }
    .recipe_descrition_details {
        margin-right: 0;
    }
}

@media (min-height: 1600px) {
    body {
        display: grid;
        grid-template-rows: 100px 1fr auto;

    }
}