body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: "Raleway", sans-serif;

}

a {
    padding-left: 24px;
    text-decoration: none;
    color: black;
}

p {
    margin-right: 48px;
}

a:hover{
    text-decoration: underline;
    color: #018000;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: white;;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.navigation_left {
    height: 100%;
    max-width: 720px;
    margin-left: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.navigation_left img {
    width: 240px;
}

.navigation_right {
    height: 100%;
    min-width: 720px;
    max-width: 720px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex: 1;
}

.navigationbar {
    color: black;
    font-size: 18px;
    padding-left: 18px;
    padding-bottom: 16px;
    
}

.half_section {
    max-width: 720px;
    min-width: 720px;
    width: 100%;
    padding-left: 48px;
    padding-right: 64px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;

}

.homepage_section1 {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: left;
    padding-left: 48px;
    margin-right: 64px;
    margin-top: 160px;
    margin-bottom: 60px;

}

.homepage_section1 img {
    width: 560px;
    height: auto;
    border-radius: 8px;
    margin-left: 24px;
    display: flex;
    justify-content: flex-end;
}

button {
    width: 160px;
    height: 40px;
    background-color: #018000;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.tagesgericht_headline {
    font-size: 24px;
    font-weight: 600;
}

.homepage_section2 {
    background-color: #EFEFEF;
    width: 100%;
    min-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
}

.homepage_section2_headline {
    font-size: 24px;
    font-weight: 600;
    margin-top: 0;
}

.homepage_section2 img {
    width: 240px;
    height: 164px;
    object-fit: cover;
    border-radius: 4px;
}

.recipe_overview {
    max-width: 1440px;
    width: 1440px;
    margin-left: 24px;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

.recipes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.homepage_section3 {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.homepage_section3 img {
    width: 240px;
    height: auto;
    border-radius: 4px;
    margin-left: 48px;
    margin-right: 64px;
}

.blog {    
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.blog-container {
    max-width: 1440px;
    margin-left: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.blog-letter {
    max-width: 840px;
    /* text-align: justify; */
}

footer {
    position: absolute;
    margin-bottom: 0;
    margin-left: 0;
    height: 160px;
    width: 100%;
    background-color: #403B3B;
}

.navigation_logo {
    max-width: 1440px;
    display: flex;
    justify-content: center;

}

.img_own_recipe {
    max-width: 1440px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.img_recipe_description {
    height: 30px;
    width: 30px;
}

.display_flex {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 24px;

}

.ingredients-container input {
    width: 40px;
    height: 34px;
    text-align: center;
    margin-right: 10px;
    border-width: 0.5px;
    border-radius: 4px;

}

.recipe_descrition_details {
    display: flex;
}

.Profil_personal_img {
    width: 100px;
    margin-right: 25px;   
}

.Personal_Profil_Recipe {
    display: flex;
    align-items: center;
}

#portions-error {
    color: red;
    display: none;
}

.recipeoftheday {
    width: 100%;
    margin-top: 160px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.daily-recipe {
    width: 1440px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
}

.recipeoftheday img {
    width: 1280px;
    max-width: 1440px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
    /* margin: 24px; */
}

.meal_pic {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.meal_pic img {
    width: 1440px;
    height: 240px;
    object-fit: cover;
    border-radius: 8px;
}

.prep-info {
    display: flex;
    padding-right: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.icon {
    background-color: #EFEFEF;
    width: 80px;
    height: 14px;
    color: black;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 12px;
    margin-top: 16px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    flex-direction: row;
    padding: 8px;    
}
.icon img{
    width: 20px;
    height: 12px;
    padding-right: 8px;
}

.ingredients-container {
    width: 1440px;
    min-width: 1440px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 48px;
    flex: 1;

}

/* .ingredients-table {
    width: 1440px;

    align-items: flex-end;
    flex-direction: column;
    margin-left: 48px;
} */

.ingredients-portion {
    display: flex;
    flex-direction: column;
}

tr:nth-child(odd) {
  background-color: #EFEFEF;
  width: 100%;
}

.recipe_descrition_details {
   background-color: #EFEFEF;
    width: 120px;
    height: 24px;
    color: black;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 12px;
    margin-top: 16px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    flex-direction: row;
    padding: 8px;     
}

.recipe_descrition_details img {
    width: 20px;
    height: 12px;
    padding-right: 8px;
}

.preparation {
    width: 1440px;
    max-width: 1440px;
    display: flex;
    /* align-items: flex-start; */
    flex-direction: column;
    /* justify-content: center; */
}
.contact_form {
    height: 400px;
    width: 320px;
    padding: 12px;
    background-color: #dcdcdc;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    font-size: 12px;
    color: #606060;
    
}
.contact_form_input{
   border-color: #dcdcdc;
   border-radius: 6px;
   height: 20px;
   margin-bottom:  24px;
   border-width: 0px;
}
.contact_form_input_message{
    height: 160px;
    resize: none;
}
.contact_form_headline{
    margin-bottom: 32px;
    font-size: 16px;
    font-weight:600;
    color: #232323;
}
.contact_form_input_submit{
    width: 120px;
    padding: 6px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 4px;
    background-color: #018000;
    color: white;
    border: none;
    font-size: 10px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.send_mail{
    margin-top: 160px;
}
.impressum{
    padding-left: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;
    max-width: 1440px;
}





